body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-height: 100vh;
    margin: 0 0 0 0;

}
.upper-section{
    border: 1px black solid;
    text-align: center;
    height: 50px;
}

.nav{
    display: flex;
    justify-content: center;
    background-color: azure;
    text-align: center;
    height: 40px;
}

.hero{
    color:aliceblue;
    background-image: url("https://th.bing.com/th/id/R.a47c8de9e6f879abffb789add46e33c1?rik=ugUef7qhX%2bE1gw&pid=ImgRaw&r=0");
    border: 1px black solid;
    text-align: center;
    height: 400px;
}

.main-section{
    text-align: center;
    height: 100%;
}

.footer{
    height: 80px;
    text-align: center;
}

.nav-buttons{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li {
    display: flex;
    display: inline-block;
}

li:hover{
    display: flex;
    display: inline-block;
    font-size:large;
    color:blueviolet;
}